@charset "UTF-8"; 

body{
    background-color: rgb(233, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.principal{
    color: rgb(212, 39, 39);
}
.secundario{
    color: navy;
}
.terciario{
    color: rgb(166, 255, 0);
}
